<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTransactionLabel">Create or edit a Transaction</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!transaction.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="transaction.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="transaction.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="transaction.updatedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.updatedAt?.dirty && editForm.controls.updatedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedAt?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.updatedAt?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_executedAt">Executed At</label>
            <div class="d-flex">
                <input id="field_executedAt" type="datetime-local" class="form-control" name="executedAt" [(ngModel)]="transaction.executedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.executedAt?.dirty && editForm.controls.executedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.executedAt?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.executedAt?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="transaction.description" required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="transaction.amount" required />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="transaction.type" id="field_type"  required>
                <option value="DEBIT">DEBIT</option>
                <option value="CREDIT">CREDIT</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_balance">Balance</label>
            <input type="number" class="form-control" name="balance" id="field_balance"
                [(ngModel)]="transaction.balance" required />
            <div [hidden]="!(editForm.controls.balance?.dirty && editForm.controls.balance?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.balance?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.balance?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_operation">Operation</label>
            <select class="form-control" id="field_operation" name="operation" [(ngModel)]="transaction.operationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="operationOption.id" *ngFor="let operationOption of operations; trackBy: trackOperationById">{{operationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_position">Position</label>
            <select class="form-control" id="field_position" name="position" [(ngModel)]="transaction.positionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="positionOption.id" *ngFor="let positionOption of positions; trackBy: trackPositionById">{{positionOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
