<div>
    <h2>
        <span>Accounts</span>
        <button class="btn btn-primary float-right jh-create-entity create-accounts" [routerLink]="['/', { outlets: { popup: ['accounts-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Accounts
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="accounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Created At</span></th>
            <th><span>Updated At</span></th>
            <th><span>Description</span></th>
            <th><span>Portfolio</span></th>
            <th><span>Assets</span></th>
            <th><span>Institutions</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accounts of accounts ;trackBy: trackId">
                <td><a [routerLink]="['../accounts', accounts.id ]">{{accounts.id}}</a></td>
                <td>{{accounts.createdAt | date:'medium'}}</td>
                <td>{{accounts.updatedAt | date:'medium'}}</td>
                <td>{{accounts.description}}</td>
                <td>
                    <div *ngIf="accounts.portfolioId">
                        <a [routerLink]="['../portfolio', accounts.portfolioId  ]" >{{accounts.portfolioDescription}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let assets of accounts.assets; let last = last">
                            <a class="form-control-static" [routerLink]="['../asset', assets?.id ]">{{assets.code}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let institutions of accounts.institutions; let last = last">
                            <a class="form-control-static" [routerLink]="['../institution', institutions?.id ]">{{institutions.description}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../accounts', accounts.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'accounts/'+ accounts.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'accounts/'+ accounts.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
