<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAssetLabel">Create or edit a Asset</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!asset.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="asset.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="asset.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="asset.updatedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.updatedAt?.dirty && editForm.controls.updatedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.updatedAt?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.updatedAt?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_modifiedBy">Modified By</label>
            <input type="text" class="form-control" name="modifiedBy" id="field_modifiedBy"
                [(ngModel)]="asset.modifiedBy" required />
            <div [hidden]="!(editForm.controls.modifiedBy?.dirty && editForm.controls.modifiedBy?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.modifiedBy?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="asset.description" required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="asset.code" required />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_symbol">Symbol</label>
            <input type="text" class="form-control" name="symbol" id="field_symbol"
                [(ngModel)]="asset.symbol"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="asset.type" id="field_type"  required>
                <option value="COMMODITY">COMMODITY</option>
                <option value="CURRENCY">CURRENCY</option>
                <option value="FUTURE">FUTURE</option>
                <option value="INDICE">INDICE</option>
                <option value="OPTION">OPTION</option>
                <option value="STOCK">STOCK</option>
            </select>
            <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.type?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
