<div>
    <h2>
        <span>Assets</span>
        <button class="btn btn-primary float-right jh-create-entity create-asset" [routerLink]="['/', { outlets: { popup: ['asset-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Asset
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="assets">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Created At</span></th>
            <th><span>Updated At</span></th>
            <th><span>Description</span></th>
            <th><span>Code</span></th>
            <th><span>Symbol</span></th>
            <th><span>Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let asset of assets ;trackBy: trackId">
                <td><a [routerLink]="['../asset', asset.id ]">{{asset.id}}</a></td>
                <td>{{asset.createdAt | date:'medium'}}</td>
                <td>{{asset.updatedAt | date:'medium'}}</td>
                <td>{{asset.description}}</td>
                <td>{{asset.code}}</td>
                <td>{{asset.symbol}}</td>
                <td>{{asset.type}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../asset', asset.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
