
<div *ngIf="asset">
    <h2><span>Asset</span> {{asset.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{asset.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
            <span>{{asset.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
            <span>{{asset.modifiedBy}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{asset.description}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{asset.code}}</span>
        </dd>
        <dt><span>Symbol</span></dt>
        <dd>
            <span>{{asset.symbol}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{asset.type}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'asset/'+ asset.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
