<div>
    <h2>
        <span>Positions</span>
        <button class="btn btn-primary float-right jh-create-entity create-position" [routerLink]="['/', { outlets: { popup: ['position-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Position
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="positions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Created At</span></th>
            <th><span>Updated At</span></th>
            <th><span>Description</span></th>
            <th><span>Balance</span></th>
            <th><span>Type</span></th>
            <th><span>Status</span></th>
            <th><span>Asset</span></th>
            <th><span>Account</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let position of positions ;trackBy: trackId">
                <td><a [routerLink]="['../position', position.id ]">{{position.id}}</a></td>
                <td>{{position.createdAt | date:'medium'}}</td>
                <td>{{position.updatedAt | date:'medium'}}</td>
                <td>{{position.description}}</td>
                <td>{{position.balance}}</td>
                <td>{{position.type}}</td>
                <td>{{position.status}}</td>
                <td>
                    <div *ngIf="position.assetId">
                        <a [routerLink]="['../asset', position.assetId  ]" >{{position.assetCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="position.accountId">
                        <a [routerLink]="['../accounts', position.accountId  ]" >{{position.accountDescription}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../position', position.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'position/'+ position.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'position/'+ position.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
