
<div *ngIf="position">
    <h2><span jhiTranslate="nereusApp.position.detail.title">Position</span> {{position.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nereusApp.position.createdAt">Created At</span></dt>
        <dd>
            <span>{{position.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.position.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{position.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.position.balance">Balance</span></dt>
        <dd>
            <span>{{position.balance}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.position.asset">Asset</span></dt>
        <dd>
            <div *ngIf="position.assetId">
                <a [routerLink]="['/asset', position.assetId]">{{position.assetCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nereusApp.position.wallet">Wallet</span></dt>
        <dd>
            <div *ngIf="position.walletId">
                <a [routerLink]="['/wallet', position.walletId]">{{position.walletDescription}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'position/'+ position.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
