<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChargeLabel" jhiTranslate="nereusApp.charge.home.createOrEditLabel">Create or edit a Charge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!charge.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="charge.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="charge.createdAt"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="charge.updatedAt"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="charge.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="charge.type" id="field_type" >
                <option value="FLAT_FEE">{{'nereusApp.ChargeType.FLAT_FEE' | translate}}</option>
                <option value="PERCENTAGE">{{'nereusApp.ChargeType.PERCENTAGE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.operationType" for="field_operationType">Operation Type</label>
            <select class="form-control" name="operationType" [(ngModel)]="charge.operationType" id="field_operationType" >
                <option value="WIRE_TRANSFER">{{'nereusApp.OperationType.WIRE_TRANSFER' | translate}}</option>
                <option value="WITHDRAW">{{'nereusApp.OperationType.WITHDRAW' | translate}}</option>
                <option value="DEPOSIT">{{'nereusApp.OperationType.DEPOSIT' | translate}}</option>
                <option value="BUY">{{'nereusApp.OperationType.BUY' | translate}}</option>
                <option value="SELL">{{'nereusApp.OperationType.SELL' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="charge.amount"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="nereusApp.charge.institution" for="field_institution">Institution</label>
            <select class="form-control" id="field_institution" name="institution" [(ngModel)]="charge.institutionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="institutionOption.id" *ngFor="let institutionOption of institutions; trackBy: trackInstitutionById">{{institutionOption.description}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
