<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myChargeLabel">Create or edit a Charge</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!charge.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="charge.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_institution">Institution</label>
            <select class="form-control" id="field_institution" name="institution" [(ngModel)]="charge.institutionId"  required>
                <option *ngIf="!editForm.value.institution" [ngValue]="null" selected></option>
                <option [ngValue]="institutionOption.id" *ngFor="let institutionOption of institutions; trackBy: trackInstitutionById">{{institutionOption.description}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.institution?.dirty && editForm.controls.institution?.invalid)">
            <small class="form-text text-danger"
                   [hidden]="!editForm.controls.institution?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_operationType">Operation Type</label>
            <select class="form-control" name="operationType" [(ngModel)]="charge.operationType" id="field_operationType"  required>
                <option value="WIRE_TRANSFER">WIRE_TRANSFER</option>
                <option value="WITHDRAW">WITHDRAW</option>
                <option value="DEPOSIT">DEPOSIT</option>
                <option value="BUY">BUY</option>
                <option value="SELL">SELL</option>
            </select>
            <div [hidden]="!(editForm.controls.operationType?.dirty && editForm.controls.operationType?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.operationType?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" multiple name="asset" [(ngModel)]="charge.assets">
                <option [ngValue]="getSelected(charge.assets, assetOption)" *ngFor="let assetOption of assets; trackBy: trackAssetById">{{assetOption.code}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_chargeType">Charge Type</label>
            <select class="form-control" name="chargeType" [(ngModel)]="charge.chargeType" id="field_chargeType"  required>
                <option value="FLAT_FEE">FLAT_FEE</option>
                <option value="PERCENTAGE">PERCENTAGE</option>
            </select>
            <div [hidden]="!(editForm.controls.chargeType?.dirty && editForm.controls.chargeType?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.chargeType?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="charge.amount" required />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                   [(ngModel)]="charge.description" required />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.description?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
