<div>
    <h2>
        <span>Charges</span>
        <button class="btn btn-primary float-right jh-create-entity create-charge" [routerLink]="['/', { outlets: { popup: ['charge-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Charge
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="charges">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Created At</span></th>
            <th><span>Updated At</span></th>
            <th><span>Modified By</span></th>
            <th><span>Description</span></th>
            <th><span>Charge Type</span></th>
            <th><span>Operation Type</span></th>
            <th><span>Amount</span></th>
            <th><span>Institution</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let charge of charges ;trackBy: trackId">
                <td><a [routerLink]="['../charge', charge.id ]">{{charge.id}}</a></td>
                <td>{{charge.createdAt | date:'medium'}}</td>
                <td>{{charge.updatedAt | date:'medium'}}</td>
                <td>{{charge.modifiedBy}}</td>
                <td>{{charge.description}}</td>
                <td>{{charge.chargeType}}</td>
                <td>{{charge.operationType}}</td>
                <td>{{charge.amount}}</td>
                <td>
                    <div *ngIf="charge.institutionId">
                        <a [routerLink]="['../institution', charge.institutionId  ]" >{{charge.institutionDescription}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../charge', charge.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'charge/'+ charge.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'charge/'+ charge.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
