
<div *ngIf="institution">
    <h2><span jhiTranslate="nereusApp.institution.detail.title">Institution</span> {{institution.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nereusApp.institution.createdAt">Created At</span></dt>
        <dd>
            <span>{{institution.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.institution.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{institution.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.institution.description">Description</span></dt>
        <dd>
            <span>{{institution.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'institution/'+ institution.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
