
<div *ngIf="institution">
    <h2><span>Institution</span> {{institution.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{institution.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
            <span>{{institution.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Modified By</span></dt>
        <dd>
            <span>{{institution.modifiedBy}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{institution.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'institution/'+ institution.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
