
<div *ngIf="operation">
    <h2><span>Operation</span> {{operation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{operation.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
            <span>{{operation.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Executed At</span></dt>
        <dd>
            <span>{{operation.executedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Amount From</span></dt>
        <dd>
            <span>{{operation.amountFrom}}</span>
        </dd>
        <dt><span>Amount To</span></dt>
        <dd>
            <span>{{operation.amountTo}}</span>
        </dd>
        <dt><span>Position From</span></dt>
        <dd>
            <div *ngIf="operation.positionFromId">
                <a [routerLink]="['/position', operation.positionFromId]">{{operation.positionFromDescription}}</a>
            </div>
        </dd>
        <dt><span>Institution From</span></dt>
        <dd>
            <div *ngIf="operation.institutionFromId">
                <a [routerLink]="['/institution', operation.institutionFromId]">{{operation.institutionFromDescription}}</a>
            </div>
        </dd>
        <dt><span>Position To</span></dt>
        <dd>
            <div *ngIf="operation.positionToId">
                <a [routerLink]="['/position', operation.positionToId]">{{operation.positionToDescription}}</a>
            </div>
        </dd>
        <dt><span>Institution To</span></dt>
        <dd>
            <div *ngIf="operation.institutionToId">
                <a [routerLink]="['/institution', operation.institutionToId]">{{operation.institutionToDescription}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
