
<div *ngIf="operation">
    <h2><span>Operation</span> {{operation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{operation.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
            <span>{{operation.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span>Executed At</span></dt>
        <dd>
            <span>{{operation.executedAt | date:'medium'}}</span>
        </dd>
        <dt><span>From Amount</span></dt>
        <dd>
            <span>{{operation.fromAmount}}</span>
        </dd>
        <dt><span>To Amount</span></dt>
        <dd>
            <span>{{operation.toAmount}}</span>
        </dd>
        <dt><span>From Position</span></dt>
        <dd>
            <div *ngIf="operation.fromPositionId">
                <a [routerLink]="['/position', operation.fromPositionId]">{{operation.fromPositionDescription}}</a>
            </div>
        </dd>
        <dt><span>From Institution</span></dt>
        <dd>
            <div *ngIf="operation.fromInstitutionId">
                <a [routerLink]="['/institution', operation.fromInstitutionId]">{{operation.fromInstitutionDescription}}</a>
            </div>
        </dd>
        <dt><span>To Position</span></dt>
        <dd>
            <div *ngIf="operation.toPositionId">
                <a [routerLink]="['/position', operation.toPositionId]">{{operation.toPositionDescription}}</a>
            </div>
        </dd>
        <dt><span>To Institution</span></dt>
        <dd>
            <div *ngIf="operation.toInstitutionId">
                <a [routerLink]="['/institution', operation.toInstitutionId]">{{operation.toInstitutionDescription}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'operation/'+ operation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
