
<div *ngIf="wallet">
    <h2><span jhiTranslate="nereusApp.wallet.detail.title">Wallet</span> {{wallet.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="nereusApp.wallet.createdAt">Created At</span></dt>
        <dd>
            <span>{{wallet.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.wallet.updatedAt">Updated At</span></dt>
        <dd>
            <span>{{wallet.updatedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.wallet.description">Description</span></dt>
        <dd>
            <span>{{wallet.description}}</span>
        </dd>
        <dt><span jhiTranslate="nereusApp.wallet.account">Account</span></dt>
        <dd>
            <div *ngIf="wallet.accountId">
                <a [routerLink]="['/accounts', wallet.accountId]">{{wallet.accountDescription}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="nereusApp.wallet.assets">Assets</span></dt>
        <dd>
            <span *ngFor="let assets of wallet.assets; let last = last">
                <a [routerLink]="['/asset', assets?.id ]">{{assets.code}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="nereusApp.wallet.institutions">Institutions</span></dt>
        <dd>
            <span *ngFor="let institutions of wallet.institutions; let last = last">
                <a [routerLink]="['/institution', institutions?.id ]">{{institutions.description}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wallet/'+ wallet.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
